---
import { getCollection } from "astro:content";
import DateSpan from "@/components/DateSpan.astro";

const educationCollection = (await getCollection("education")).sort(
    (a, b) => b.data.start.getTime() - a.data.start.getTime(),
);
---

<h2>Образование</h2>

<ul>
    {
        educationCollection.map((education) => {
            return (
                <li>
                    <header>
                        <h3>{education.data.place}</h3>
                    </header>
                    <p>
                        {education.data.specialization}, {education.data.degree}
                    </p>
                    <p class="period">
                        <DateSpan
                            start={education.data.start}
                            end={education.data.end}
                            locale="ru-RU"
                            dateOptions={{
                                year: "numeric",
                            }}
                        />
                    </p>
                </li>
            );
        })
    }
</ul>

<style>
    @import url("places.css");

    header {
        flex: 0 0 100%;
    }

    li {
        display: flex;
        flex-wrap: wrap;
        column-gap: 0.5em;
    }
</style>
