---
import TechBadge from "@/components/TechBadge.astro";

interface TechSection {
    name: string;
    techList: Array<string>;
}

interface Props {
    value: Array<string | TechSection>;
    simple?: boolean;
    dense?: boolean;
}

const { value: techList, simple = false, dense = false } = Astro.props;
---

{
    techList.map((entry) =>
        typeof entry === "string" ? (
            <TechBadge name={entry} {simple} {dense} />
        ) : (
            <>
                <p>{entry.name}</p>
                <div class="tech-list">
                    {entry.techList.map((subentry) => (
                        <TechBadge name={subentry} {simple} {dense} />
                    ))}
                </div>
            </>
        ),
    )
}

<style>
    .tech-list {
        word-spacing: var(--space-xs);
    }
</style>
