---
import { getEntry } from "astro:content";
import PageLayout from "@/layouts/PageLayout.astro";
import DateSpan from "@/components/DateSpan.astro";

const title = "Changelog";
const gitlog = (await getEntry("gitlog", "__all")).data.sort((a, b) => b.commitDate - a.commitDate);
---

<PageLayout title={title} description="Changelog generated from git">
    <h1>{title}</h1>
    <table class="striped">
        <tbody>
            {
                gitlog.map((commit) => {
                    const githubUrl = `https://github.com/nxblnd/website/commit/${commit.hash}`;
                    return (
                        <tr>
                            <td>
                                <a href={githubUrl}>{commit.hash.slice(0, 7)}</a>
                            </td>
                            <td class="message">
                                <p class="commit-title">{commit.title}</p>
                                {commit.body && <p class="commit-body">{commit.body}</p>}
                            </td>
                            <td class="commit-date">
                                <DateSpan
                                    start={commit.commitDate}
                                    locale="ru-RU"
                                    numeralType="tabular-nums"
                                />
                            </td>
                        </tr>
                    );
                })
            }
        </tbody>
    </table>
</PageLayout>

<style>
    a {
        font-family: var(--font-monospace);
        font-size: small;
    }

    .commit-body {
        color: var(--secondary-color);
    }

    .commit-date {
        color: var(--secondary-color);
    }
</style>
