---
import { getCollection } from "astro:content";
import PageLayout from "@/layouts/PageLayout.astro";
import PostPreview from "@/components/PostPreview.astro";

const title = "Список постов";
const description = "aaaaaaaaaaaaaaaa";

const posts = await getCollection("posts");
---

<PageLayout {title} {description}>
    <h1>Список постов</h1>
    <ul>
        {
            posts.map((post) => (
                <li>
                    <PostPreview
                        title={post.data.title}
                        description={post.data.description}
                        link={`/post/${post.id}`}
                    />
                </li>
            ))
        }
    </ul>
</PageLayout>
