---
import DateTime from "@/components/DateTime.astro";

interface Props {
    start: Date | string;
    end?: Date | string;
    locale?: string;
    dateOptions?: Intl.DateTimeFormatOptions;
    numeralType?:
        | "normal"
        | "ordinal"
        | "slashed-zero"
        | "lining-nums"
        | "oldstyle-nums"
        | "proportional-nums"
        | "tabular-nums"
        | "diagonal-fractions"
        | "stacked-fractions";
}

const defaultDateOptions: Intl.DateTimeFormatOptions = {
    year: "numeric",
    month: "numeric",
    day: "numeric",
};

const {
    start,
    end,
    locale,
    dateOptions = defaultDateOptions,
    numeralType = "normal",
} = Astro.props;

function isDateSame(start: string | Date, end: string | Date): boolean {
    const startDate = new Date(start).toLocaleDateString(locale, dateOptions).replace(/ г\./, "");
    const endDate = new Date(end).toLocaleDateString(locale, dateOptions).replace(/ г\./, "");
    return startDate === endDate;
}
---

<span>
    {
        !end || isDateSame(start, end) ? (
            <DateTime timestamp={start} {locale} {dateOptions} {numeralType} />
        ) : (
            <>
                <DateTime timestamp={start} {locale} {dateOptions} {numeralType} />
                &hairsp;&ndash;&hairsp;
                <DateTime timestamp={end} {locale} {dateOptions} {numeralType} />
            </>
        )
    }
</span>

<style>
    span {
        display: inline-flex;
    }
</style>
