---
import DateTime from "@/components/DateTime.astro";

interface Props {
    link: string;
    title: string;
    description?: string;
    tags?: Array<string>;
    lastChangeDate?: Date | string;
}

const { link, title, description, lastChangeDate } = Astro.props;
---

<section>
    <h2 class="post-title"><a href={link}>{title}</a></h2>
    <!-- <div class="tags">{tags}</div> -->
    {
        lastChangeDate && (
            <p class="post-dates">
                <DateTime timestamp={lastChangeDate} locale="ru-RU" />
            </p>
        )
    }
    <p class="post-description">{description}</p>
</section>

<style>
    section {
        padding-bottom: var(--space-sm);
    }

    .post-dates {
        color: var(--secondary-color);
    }
</style>
